.payment {
	background-color: rgb(250, 248, 248);
	border-radius: 40px;
}

.payment__container > h1 {
	text-align: center;
	padding: 10px;
	font-weight: 600;
	background-color: rgb(222, 243, 226);
	border-bottom: 11px solid rgb(88, 86, 86);
	border-radius: 0px 0px 40px 40px;
}

.payment__container > h1 a {
	text-decoration: none;
	color: rgb(99, 46, 11);
}

.payment__section {
	display: flex;
	padding: 20px;
	margin: 0 20px;
	border-bottom: 2px solid rgb(226, 223, 223);
}

.payment__title {
	flex: 0.2;
	font-size: 20px;
	color: rgb(82, 22, 22);
}

.payment__address,
.payment__items,
.payment__details {
	flex: 0.8;
}

.payment__details > form {
	max-width: 400px;
}

.payment__details > h3 {
	padding-bottom: 20px;
}

.payment__details > form > div > button {
	background: #f0c14b;
	cursor: pointer;
	border-radius: 6px;
	width: 100%;
	height: 30px;
	border: 1px solid;
	font-weight: bolder;
	margin-top: 10px;
	border-color: #a88734 #9c7e31 #846a29;
	color: #111;
}

.payment__details > form > div > button:hover {
	background-color: rgb(185, 128, 23);
	color: whitesmoke;
}
